.App {
  background: url("http://i.giphy.com/13pCqQdBzxnTTq.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.landingPage:hover {
  background-color: orange;
}

.landingPage {
  font-size: 20px;
}
