.App {
  background: url("http://i.giphy.com/13pCqQdBzxnTTq.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;

  font-family: 'Press Start 2P';
  color: #DD8500;
}



a .nav > li.landingPage{
  margin-left: 5px;
  background-color: #46C2FF;
}

.landingPage:hover {
  background-color: orange;
}

.landingPage {
  font-size: 13.5px;
}
