.controlServo {
  background: url("http://i.giphy.com/W3ESJXFGWxafu.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;

  font-family: 'Press Start 2P';
  color: darkblue;
  font-size: 20px
}

.landingPage {
  color: darkBlue;
}
