.deadFish {
  background-image: url("http://i.giphy.com/29MqeHkKEkvkc.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ABB1BD;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.landingPage:hover {
  background-color: orange;
}

.landingPage {
  font-size: 13.5px;
  font-family: 'Press Start 2P';
  color: black;
  background-color: darkgrey;
}
